.card {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 15px;
    text-align: left;
    background-color: white;
    margin: 15px auto;
    width: 680px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    line-height: 1.15em;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30px;
    padding: 2px 5px;
}

.copy:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

table, th, td {
   text-align: center;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

button {
  width: 100px;
  height: 40px;
  background: #009879;
  color: white;
  border: 0px;
  border-radius: 3px;
  font-size: 1.01em;
}

input, select {
  height: 20px;
  font-size: 1.01em;
}

@media only screen and (max-width: 1150px) {
    .card {
      width: 550px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
      width: 93vw;
      margin: 15px 1vw;
    }
    table th, table td {
      padding: 8px 10px;
    }
}

@media only screen and (max-width: 550px) {
  .card {
    padding: 10px;
    width: 90vw;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    grid-template-rows: 30px 100px 50px 50px;
  }
  table {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  table {
    width: 90%;
  }
}
