.App {
  text-align: center;
}

body {
  background-color: #cbddf1;
}

body::-webkit-scrollbar {
  display: none;
}

#heading {
  width: 100vw;
  position: fixed;
  text-align: left;
  background-color: #4f86c6;
  color:white;
  padding: 20px;
  font-weight: 900;
  font-size: 30px;
}
